.tile {
    border-radius: 0 !important;
    padding: 0;
}

.not-open-tile {
    background-color: darkcyan;
}

.open-tile {
    background-color: white;
}

.end-bug-tile {
    background-color: red;
}