.timer {
    text-align: center;
}

.bug-counter {
    text-align: center;
}

.cat {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.head {
    background-color: white;
    border: 2px solid #dedcdc;
}

.tile {
    border-radius: 0 !important;
    padding: 0;
    font-size: 25px;
}

.not-open-tile {
    background-color: darkcyan;
}

.open-tile {
    background-color: white;
}

.end-bug-tile {
    background-color: red;
}

.player {
    position: absolute;
    right: 100px;
    top: 60px;
    border: 2px black solid;
    border-radius: 15px;
}